# Ignore everything
/*
!.gitignore

# Configurations
!alacritty/
!dunst/
!hypr/
!hyprpanel/
!nvim/
!waybar/
!zathura/
!mimeapps.list
!fuzzel/
!fish/
!packages
!brave-flags.conf
!chromium-flags.conf
!README.md
!rice.png
!rice-2.png
!rice-3.png
!btop
!wireplumber/
!systemd/
fish/fish_variables
waybar/fluxo-rs
!fluxo/
