# Ignore everything
/*
!.gitignore

# Configurations
!alacritty/
!dunst/
!hypr/
!nvim/
!waybar/
!zathura/
!mimeapps.list
!fuzzel/
!brave-flags.conf
!chromium-flags.conf
!README.md
!rice.png
!rice-2.png
!btop
