/* ~/.config/waybar/style.css */
@import "./catppuccin-waybar/themes/mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@base, 0.4);
  padding: 4px;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @text;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 0px 12px;
  margin: 0px 3px;
  border-radius: 10px;
  background-color: @base;
  color: @subtext0;
}

#workspaces button.active {
  color: @text;
  border-bottom: 3px solid @blue;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @surface0;
  color: @text;
}

#workspaces button.urgent {
  border-bottom: 3px solid @maroon;
}

#memory,
#cpu,
#custom-gpu,
#custom-cpu,
#custom-mem,
#custom-power,
#custom-gamemode,
#custom-tlp,
#battery,
#backlight,
#wireplumber,
#custom-network,
#network,
#clock,
#tray,
#custom-disk-root,
#custom-disk-gdrive,
#custom-disk-games,
#custom-disk-data,
#custom-pixelbuds_pro,
#custom-bluetooth-audio,
#custom-audio-output,
#custom-btrfs,
#custom-gpu-screen-recorder {
  border-radius: 10px;
  margin: 0px 2px;
  padding: 0px 10px;
  background-color: @base;
  color: @text;
}

#wireplumber.muted, #custom-pixelbuds_pro, #custom-audio-output.muted {
	background-color: @base;
	color: @subtext1;
	border-bottom: 3px solid @subtext1;
}

#custom-pixelbuds_pro.disconnected {
	padding-right: 10px;
	padding-left: 8px;	
}

#custom-gpu-screen-recorder, 
#custom-gpu-screen-recorder.recording {
	padding-right: 12px;
	padding-left: 4px;	
}

#custom-gamemode {
	padding-right: 9px;
	padding-left: 5px;	
}

#custom-pixelbuds_pro.anc-active {
    color: @sapphire; 
	border-bottom: 3px solid @sapphire;
}

#custom-bluetooth-audio {
	color: @sapphire;
	border-bottom: 3px solid @sapphire;
}

#custom-pixelbuds_pro.anc-aware {
    color: @sapphire; 
	border-bottom: 3px solid @sapphire;
}

#custom-pixelbuds_pro.anc-off {
    color: @text; 
	border-bottom: 3px solid @text;
}

#custom-gpu-screen-recorder,
#custom-gamemode {
	background-color: @base;
	color: @subtext1;
	border-bottom: 3px solid @subtext1;
}

#custom-power {
  color: @maroon;
}

#custom-gpu-screen-recorder.recording,
#custom-gamemode.active {
	color: @maroon;
	border-bottom: 3px solid @maroon;
}

#custom-tlp {
    padding: 0 10px;
	min-width: 10px;
}

#custom-tlp.charging {
    color: @mauve; 
	border-bottom: 3px solid @mauve;
}

#custom-tlp.bat {
	color: @sapphire;
	border-bottom: 3px solid @sapphire;
}

#custom-tlp.warning {
    color: @yellow; 
	border-bottom: 3px solid @yellow;
}

#custom-tlp.critical {
    color: @red; 
	border-bottom: 3px solid @red;
	animation-name: blink;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @yellow;
	border-bottom: 3px solid @yellow;
    opacity: 0.6;
  }
}

#custom-gpu.max, 
#custom-cpu.max, 
#custom-mem.max,
#custom-btrfs.max,
#custom-disk-root.max,
#custom-disk-gdrive.max,
#custom-disk-games.max,
#custom-disk-data.max {
  color: @maroon;
  /* border-bottom: 3px solid @maroon; */
}

#custom-gpu.high,
#custom-gpu.high,
#custom-cpu.high,
#custom-mem.high,
#custom-btrfs.high,
#custom-disk-root.high,
#custom-disk-gdrive.high,
#custom-disk-games.high,
#custom-disk-data.high {
  color: @yellow;
  /* border-bottom: 3px solid @yellow; */
}

#memory, 
#cpu,
#disk,
#network,
#custom-network,
#custom-gpu.normal, 
#custom-cpu.normal, 
#custom-mem.normal,
#custom-btrfs.normal,
#custom-disk-root.normal,
#custom-disk-gdrive.normal,
#custom-disk-games.normal,
#custom-disk-data.normal {
  color: @blue;
  /* border-bottom: 3px solid @mauve; */
}


#backlight {
  color: @mauve;
}

#wireplumber.muted {
  padding-right: 15px;
}

#custom-audio-output.unmuted, #wireplumber {
  color: @mauve;
  border-bottom: 3px solid @mauve;
}

#clock {
  color: @mauve;
}

#network {
}

tooltip {
  border-radius: 10px;
  padding: 9px;
  background-color: @base;
}

tooltip label {
  padding: 5px;
  background-color: @base;
}
